@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
.Gameplay {
	flex-grow: 1;

	display: grid;
	grid-template-rows: auto 1fr 160px;
	grid-template-areas:
		'score'
		'albums'
		'shuffle';

	margin-top: 30px;
}

.score,
.albums-game,
.restart-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.score {
	grid-area: score;

	height: 50px;

	font-size: 27px;
	margin-bottom: 20px;

	color: rgb(183, 183, 183);
}

.albums-game-container {
	align-self: center;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.albums-game {
	grid-area: albums;

	display: grid;
	grid-template: 274px / repeat(6, 180px);
	gap: 20px;

	text-align: center;

	width: 100%;
	height: 100%;
}

.restart-container {
	padding-top: 5px;
}

.btn-restart {
	grid-area: shuffle;

	width: 125px;
	height: 40px;
	
	border: none;
	border-radius: 30px;

	background-color: #357e31;
	
	font-size: 18px;
	font-weight: 700;
    font-family: 'DM Sans', sans-serif;
	color: inherit;

	cursor: pointer;

	&:active {
		background-color: #538750;
	}
}

#info-icon {
	font-size: 20px;
	cursor: pointer;
}