@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.Gameplay {
	flex-grow: 1;

	display: grid;
	grid-template-rows: auto 1fr 160px;
	grid-template-areas:
		'score'
		'albums'
		'shuffle';

	margin-top: 30px;
}

.score,
.albums-game,
.restart-container,
.best-score {
	display: flex;
	justify-content: center;
	align-items: center;
}

.score,
.best-score {
	color: rgb(183, 183, 183);
}

.score {
	grid-area: score;
	height: 50px;
	padding-right: 28px;
	font-size: 27px;
}

.best-score {
	height: 25px;
	margin-bottom: 30px;
	font-size: 19px;
}

.score.finished, .best-score.finished {
	color: #357e31;
}

.albums-game-container {
	align-self: center;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.albums-game {
	grid-area: albums;

	display: grid;
	grid-template: 274px / repeat(6, 180px);
	gap: 20px;

	text-align: center;

	width: 100%;
	height: 100%;
}

.restart-container {
	padding-top: 5px;
}

.btn-restart {
	grid-area: shuffle;

	width: 130px;
	height: 40px;

	border: none;
	border-radius: 30px;

	background-color: #357e31;

	font-size: 17px;
	font-family: 'DM Sans', sans-serif;
	color: inherit;

	cursor: pointer;

	&:active {
		background-color: #286025;
	}
}

#info-icon {
	position: relative;
	padding-top: 2px;

	font-size: 22px;
	cursor: pointer;
}

.instruction {
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: 28px;
	top: -6px;

	width: 240px;
	height: 40px;

	border-radius: 20px;
	background-color: #1f1f1f;

	font-size: 16px;
	font-family: 'DM Sans', sans-serif;
}
